.projects-filter-wrapper{
    min-width: 250px;
    max-width: 300px;
    height: 100vh;
    position:sticky;
    top:0;
    margin: -24px 24px -64px -24px; // override padding from parent element & footer
    padding: 48px 36px 12px 36px;
    background-color: white;
    overflow-y: auto;
    direction: rtl; //put scrollbar on the left 
}