/* Importing Bootstrap SCSS file. */
.project-list-header{
  margin-left: 45px;
  margin-top: 10px;
}
h1{
  font-size: 32px;
}
.projects{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  transition: transform .25s ease-in-out;
  flex-wrap: wrap;
}
.card{
  margin-top:15px;
  margin-left:15px;
  height: 220px;
  width: 400px;
  cursor: pointer;
}
.card-header{
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
 padding-right: 1.0rem;
 padding-left: 1.0rem;
}
.bottom-wrapper {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 10px;
}
.module {
  width: 400px;
  margin: 0 0 2em 0;
  overflow: hidden;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.text-description{
    font-size: 13px;
    color: rgb(100, 100, 100);
    overflow-wrap: anywhere;
}
.text-title{
  font-size: 18px;
  font-weight: 700
}
.text-attributes{
  font-size: 12px;
}
.card-body{
  padding: 0.75em;
}

.date
{
  color: 2;
}
