<div class="row container sideBar">
  <div *ngIf= "playlistProjects != null; else emptyblock">
    <div *ngFor="let project of playlistProjects.Projects">
      <div class="col-lg-8">
        {{project.name}}
      </div>
      <div class="col-lg-4">
        <button type="button" class="removeFromPlaylistBtn"></button>
      </div>
    </div>
  </div>
  <ng-template #emptyblock>
    <div class="col-md-8">
      Add projects to the playlist!
    </div>
    <div class="col-md-4">
      <button type="button" class="removeFromPlaylistBtn"> Remove from playlist -</button>
    </div>
    <div class="col-md-8">
      Add projects to the playlist!
    </div>
    <div class="col-md-4">
      <button type="button" class="removeFromPlaylistBtn"> Remove from playlist -</button>
    </div>
  </ng-template>
</div>
