.removeFromPlaylistBtn
{
  color: rgb(209, 85, 85);
  align-content:flex-end;
}

.removeFromPlaylistBtn:hover
{
  color:rgb(92, 18, 18);
}

.sideBar
{
  margin-top: 2%;
  background-color: #2a2a2a;
  color: #fff;
}
